$tablet-width: 768px;
$desktop-width: 1024px;

.home-container {
    img {
        width: 60%;
    }
    @media (min-width: #{$tablet-width}) {
        img {
            width: 20rem;
        }
    }
}
