.MuiPaper-root.MuiPaper-elevation4 {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.95);

    .MuiToolbar-root {
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}

.app-drawer {
    a {
        text-decoration: none;
        color: #000;
    }
}